
body
{background-color:#ADD8E6 ;}
.a1{color: black}
.a2{font-size: 20px;}
.box{background-color: #ADD8E6;
width:500px;
height:500px; 
font-size: 18}
.footer{color: #070808;
		font-size: 16px;
     }